<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/menu.css' %}">
</head>
<body style="padding-bottom: 1000px;">
    <div class="menu">
    <div class="main-part">
        <div class="right-part">
            <button class="achievements-button">
                Achievements
            </button>
            <button class="events-button">
                Events
            </button>
        </div>
        <div class="left-part">
            <button class="name-button">
                Name Surname
            </button>
            <button class="club-button">
                Club name
            </button>
        </div>
    </div>
    <div class="leave">
        <button class="leave-admin-page-button">
            Leave admin page
        </button>
    </div>
    </div>
</body>
</html>